body{
    background-color: #D8CAA8;
    background-image: url('background.png');
}
a{
    text-decoration: none;
    cursor: pointer;
}
#contact-in{
    display: block;
    margin-right: 25px;
    font-size: 28px;
    font-family: Roboto Thin;
    color: rgb(158, 219, 87);
}
#contact{
    text-align: right;
}
#tagline{
    font-size: 20px;
    color: #5C832F;
}
#tagline-row{
    padding: 15px;
    margin-bottom: 15px;
    font-family: Segoe UI, Roboto;
    text-align: center;
}
#sub-tagline{
    margin-top: 15px;
    
    font-size: 32px;
    font-family: Roboto;
    color: #363942;
}
#header-row {
    background-color: #363942;
    color: white;
    padding-top: 15px;
    padding-bottom: 12px;
    margin-bottom: 15px;
    padding-right: 25px;
}
#title-column {
    padding-left: 15px;
}
#title {
    font-family: Bebas Neue;
    font-weight: 400;
    font-size: 64px;
    margin-top: 0;
    margin-bottom: 0;
}
#subtitle {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 22px;
    font-family: Roboto Thin;
}
#logo {
    width: 105px;
    max-width: 105px;
    margin-right: 10px;
    display: block;
    margin: auto;
    float: right;
}
#responsive-images{
    background-color: #5C832F;
    z-index: 100;
    padding-left: 15px;
    padding-right: 15px;
}
#port-title{
    text-align: center;
    padding: 15px;
    font-size: 22px;
    font-family: Roboto;
    color: #363942;
}
#blurb-1 {
    padding: 15px;  text-align: center;
}
#blurb-2 {
    padding: 15px;  text-align: center;
}
#blurb-3 {
    padding: 15px;
    text-align: center;
}
#res-images {
    display: block;
    margin: auto;
    max-width: 460px;
    width: 100%;
    margin-bottom: 0;
}
footer {
    background-color: #382513;
    margin-top: 15px;
}
#logo-column {
    margin-right: 15px;
}
img{
    display: block;
    margin: auto;
}

#testimonials{
    margin-bottom: 25px;
}

label.right{
    margin-right: 15px;
    color: white;
}

footer{
    padding: 15px;
    color: white;
}

#footer-title{
    font-size: 22px;
    font-family: Roboto;
    font-weight: 400;
    text-align: center;
    margin-bottom: 35px;
}
.shadow{
    -webkit-box-shadow: 0px 2px 7px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 2px 7px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 2px 7px rgba(50, 50, 50, 0.75);
}

.shadow-inverse{
    -webkit-box-shadow: 0px -2px 7px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px -2px 7px rgba(50, 50, 50, 0.75);
    box-shadow:         0px -2px 7px rgba(50, 50, 50, 0.75);
}

#responsive-images{
    padding-top: 15px;
    padding-bottom: 0;
}

#fact-1 {
    margin: 15px;
    color: white;
    font-family: Roboto Thin;
    font-size: 22px;
    line-height: 1.2em;
}
#fact-2 {
    margin: 15px;  color: white;  
    font-family: Roboto Thin;  
    font-size: 1.375em;
    line-height: 1.2em;
}
#contact-button{
    margin-left: 25px;
    border: none;
}
.thumb-image{
    border: solid 5px #5C832F;
    background-color: white;
}
.test-block{
    text-align: center;
}
.thumb-title{
    text-align: center;
    font-family: Bebas Neue, Segoe UI, Roboto;
    margin-top: 15px;
    font-size: 28px;
    color: #363942;
    margin-bottom: 0;
}
.blurb{
    margin-top: 5px;
    text-align: center;
    margin-bottom: 15px;
    color: #363942;
    line-height: 1.2em;
}
#sub-sub-line{
    font-family: Segoe UI, Roboto;
}

#port-real {
    font-size: 28px;
}
#skillz, #relevant {
    padding: 15px;
    text-align: center;
    line-height: 1.2em;
}
.skillz-line{
    margin-bottom: 15px;
    display: inline;
    float: right;
    width: 80%;
}
#cred-row{
    background-color: #363942;
    font-family: Segoe UI, Roboto Thin;
    color: rgb(243, 243, 243);
}
#html5-logo{
    float: left;
    margin: auto;
    display: inline;
    padding-top: 15px;
    width:20%;
}
/* for tablets only */
@media only screen and (max-width: 768px) and (min-width: 525px){
    #logo{
        margin: 0;
        width: auto;
        float: right;
        height: 95px;
    }
    #logo-column{
        margin: 0;
    }
    #title{
        /*font-size: 6em;*/
    }
    #subtitle{
        /*font-size: 15.125px;*/
    }

    #fact-1{
        font-size: 18px;
    }
    #fact-2{
        font-size: 18px;
    }
}

@media only screen and (max-width: 524px) {
    #logo{
        width: 100%;
        max-width: 100%;
        margin: 0;
        margin-right: -10px;
}
    #logo-column{
        margin: 0;
    }
    #title{
        font-size: 44px;
    }
    #subtitle{
        font-size: 15.125px;
    }
    #sub-tagline{
        font-size: 22px;
    }
    #fact-1{
        font-size: 16px;
    }
    #fact-2{
        font-size: 16px;
    }
}

